<div class="br-b_1 br_solid:md br_black-3 p-b_3 sticky relative:md t_0 r_0 l_0 p_3 z_5">
    <div class="flex relative">
        <input class="flex_auto font_2 p_3 p-x_4 lh_2 br_black-3 br_radius shadow_overlap-bold "
               type="text"
               id="iconSearch"
               onkeyup="myFunction()"
               placeholder="Search for icons.."
               title="Type in an icon">
        <div
             class="absolute font_2 p_3 p-x_4 lh_2  opacity_4 t_0 r_0 b_0 ">
            <i class="fas fa-search"></i></div>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, list, li, a, i, txtValue,  synonymList, synonymArray, result;

        input = document.getElementById("iconSearch");
        filter = input.value.toUpperCase();
        list = document.getElementById("mylist");
        li = list.getElementsByClassName("IconListItem");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByClassName("iconLabel")[0];
            synonymArray = [];
            txtValue = a.textContent || a.innerText;
            synonymArray.push(txtValue);
            synonymList = li[i].getElementsByClassName('IconSynonyms');

            Array.prototype.forEach.call(synonymList, function (el) {
                synonymArray.push(el.getElementsByTagName("strong")[0].textContent || el.getElementsByTagName("strong")[0].innerText);
            });
            if ( txtValue.toUpperCase().indexOf(filter) > -1 || synonymArray.some( (el) => el.toUpperCase().indexOf(filter) > -1 ) ) {
                li[i].style.display = "";
                //  console.log(txtValue +","+ synonymArray);
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
